body {
  margin-top: 76px;
}

nav {
  width: calc(100% - 30px);
  margin: 10px 0 0 15px;
  border-radius: 17px;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-item {
  cursor: pointer;
}

#t1,#t2,#t3,#t4,#t5 {
  min-height: 75vh;
}

.conteiner,.conteiner-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner-2 {
  height: auto;
}

.text {
  max-width: 300px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.text-2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  max-width: 550px;
}

.imgs {
  width: 35vw;
  min-width: 230px;
}

.quadros {
  width: 25vw;
  min-width: 145px;
}

.text-3 {
  width: 120px;
}

.carr {
  width: 80vw;
  max-width: 55vh;
}

/* +900 */
@media screen and (min-width:900px) {
  #t1 {
    display: block;
  }
  #t2,#t3,#t4,#t5 {
    display: none;
  }
}

/* -900 */
@media screen and (max-width:900px) {
  #t1,#t3,#t4,#t5 {
    display: none;
  }
  #t2 {
    display: block;
  }
}

/* -700 */
@media screen and (max-width:700px) {
  #t1,#t2,#t4,#t5 {
    display: none;
  }
  #t3 {
    display: block;
  }
  /* dead */
  .conteiner {
    flex-direction: column;
  }
  .text, .text-2 {
    max-width: 280px;
    font-size: 1.4rem;
    margin: 60px 0 60px 0;
  }
  .text-2 {
    margin: 0;
  }
  #o1 {
    order: 1;
  }
  #o2 {
    order: 2;
  }
}

/* -500 */
@media screen and (max-width:500px) {
  #t1,#t2,#t3,#t5 {
    display: none;
  }
  #t4 {
    display: block;
  }
}

/* -400 */
@media screen and (max-width:400px) {
  #t1,#t2,#t3,#t4 {
    display: none;
  }
  #t5 {
    display: block;
  }
}